*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    background-color: #3368FF;
    color: white;
    padding: 20px;
}
nav ul {
    background-color: #658CFC;
    width: 100%;
    list-style-type: none;
    text-align: center;
    
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li:hover{
    background-color: black;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contenido {
    display: flex;
    margin: 60px;
}
.articulos{
    width: 80%;
    border-right: 3px solid black;
}

.secciones{
    display: flex;
    align-items: center;
    padding: 40px;
}

.menu-secundario {
    width: 20%;
    margin-top: 60px;
    position: fixed; /* Hace que el menú quede fijo en una posición */
    top: 10%; /* Coloca el menú en la parte superior de la página */
    right: 0; /* Coloca el menú en la parte derecha de la página */
    height: 100%; /* Establece la altura del menú igual a la altura de la ventana */
    overflow-y: auto; /* Permite que el menú tenga su propia barra de desplazamiento si su contenido excede su altura */
}

.menu-secundario a{
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}